profiles {
    singularity {
            singularity.enabled    = true
            singularity.autoMounts = true
            process.container = 'oras://ghcr.io/sarangbg/casprflow:latest'
            singularity.runOptions = '--bind /scratch'
            singularity.cacheDir = "${System.getenv('HOME')}/scratch/.apptainer"
            docker.enabled         = false
            conda.enabled          = false
        }
}
